body {
  background-color: rgb(255, 249, 241);
  max-width: 800px;
}

#logoTitle a {
  color: black;
}

#menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;  
  background-color: rgb(255, 240, 222);
  cursor: pointer;
}

.menu-item:hover {
  background-color: rgb(255, 252, 247);
}

nav ul a {
  text-decoration: none;
  color: black;
}

.metadata {
  margin-top: 1.5rem;
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.metadata .title {
  font-size: 2.4rem;
  font-weight: 800;
  font-style: italic;
}

.metadata .date {
  font-style: italic;
  color: gray;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (width <= 900px) {
  .metadata {
    flex-direction: column;
  }
}